.produtos{
    border: 1px solid white;
    max-width: 190px;
    max-height: 400px;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.produtos:hover{
    box-shadow: 10px 10px 68px 38px rgba(173,173,173,0.4);
    transform: scale(1.1);
}
.produtos h1{
    font-size: 20px;
    height: 40px;
}
.buttonadd{
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 8px;
}
.buttonadd:hover{
    background-color: #213442;
}
@media (max-width: 700){

    .produtos:hover{
        box-shadow: 10px 10px 68px 38px rgba(173,173,173,0.4);
        transform: scale(1.05);
    }
}