li{
    border: 1px solid white;
    max-width: 200px;
    max-height: 400px;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
}
.buttonadd{
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}